.about-container {
  width: 100%;
  min-height: 90vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-top: 2rem;
}
.about-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.abt-img {
  width: 50%;
  height: 45%;
}
.about-rightside {
  width: 40%;
}
.about-btn {
  background-color: #207dff;
  color: white;
  border: none;
  outline: none;
  height: 2rem;
  width: 90%;
  border-radius: 20px;
}
.about-btn2 {
  background-color: #fe5f55;
  color: white;
  border: none;
  outline: none;
  height: 2rem;
  width: 90%;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
  .about-buttons-wrapper {
    flex-direction: column;
  }
  .abt-img {
    width: 16.5rem;
  }
  .about-rightside {
    width: 100%;
  }
}
